.adaptMap {
  padding: 0 20px;
}

.footText{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  float:left;
  width: 50%;
  bottom:30px;
  font-size: 13px;
  a {
    color: #000;
    width: auto;
    height: auto;
  }
  a:hover {
    color: #ec6ade;
    width: auto;
    height: auto;
  }
}

.kSpecial {
  margin-top: 4%
}

.h1Flex {
  margin: 0 0 4%;
}

.footer {
  background: #372449; /*Цвет нижнего поля*/
  color: white;
  max-height: 730px;
}
