.navItem {
  color: white;
  &:hover {
    color: #7127ec;
    background: white;
  }
  transition: all .3s;
}

.navigation {
  top: 0;
  right: 0;
  z-index: 200;
  min-width: 300px;
  @media screen and (max-width: 576px) {
    width: 100%;
  }
}
