@import "variables";
@import "~bootstrap";

@mixin add-breakpoints() {
  @content;
  @each $size in sm, md, lg, lg, xl, xxl {
    &-#{$size} {
      @include media-breakpoint-up($size) {
        @content;
      }
    }
  }
  &-xs {
    @include media-breakpoint-down(xs) {
      @content;
    }
  }
}

// Text

@mixin gilroy-main() {
  font: {
    family: 'Gilroy Bold', sans-serif;
    style: normal;
    weight: 600;
  }
  color: $main-black
}

@mixin open-sans-main() {
  font: {
    family: 'Open Sans';
    style: normal;
    weight: normal;
  }
  color: $main-black
}


@mixin h1-text() {
  @include gilroy-main();
  font-size: 44px!important;
  line-height: 100%;
}

@mixin h2-text() {
  @include gilroy-main();
  font-size: 38px!important;
  line-height: 110%;
}

@mixin h3-text() {
  @include gilroy-main();
  font-size: 32px;
  line-height: 120%;
}

@mixin h4-text() {
  @include gilroy-main();
  font-size: 24px;
  line-height: 130%;
}

@mixin h5-text() {
  @include gilroy-main();
  font-size: 20px;
  line-height: 130%;
}

@mixin subtitle-text {
  @include gilroy-main();
  font-size: 16px;
  line-height: 150%;
}

@mixin body-text {
  @include open-sans-main();
  font-size: 14px;
  line-height: 150%;
}

@mixin body-text-big {
  @include open-sans-main();
  font-size: 20px;
  line-height: 150%;
}

@mixin span-text {
  @include gilroy-main();
  font-size: 14px;
  line-height: 100%;
}

@mixin span-big-text {
  @include gilroy-main();
  font-size: 16px;
  line-height: 100%;
}

@mixin table-text {
  @include open-sans-main();
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
}

@mixin small-text {
  @include open-sans-main();
  font-size: 12px;
  line-height: 150%;
}

// Background

@mixin parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Boxes

@mixin main-button {
  @include body-text();
  padding: 8px 16px;
  border-radius: 5px;
}
