@font-face {
  font-family: GilroyBold;
  src: url(/assets/fonts/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: OpenSans;
  src: url(/assets/fonts/OpenSans-Regular.ttf) format("truetype");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: GilroyBold, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


